:root{
    --square-size: 100px;
    --symbol-size: cal(val(--square-size) * .9)
}

*{
    box-sizing: border-box;
}
body{    
        margin: 0;
}
.container{
    
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    
    align-items: center;
    align-content: center; 
    grid-template-columns: repeat(3, auto);
    
}
.square{
    font-size: 3rem;
    display: grid;
    justify-items: center;
    align-items: center;
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid black;
}
.square:first-child,:nth-child(2),:nth-child(3){
    border-top: 0;
}
.square:first-child,:nth-child(4),:nth-child(7){
    border-left: 0;
}
.square:nth-child(3),:nth-child(6),:last-child{
    border-right: 0;
}
.square:nth-child(7),:nth-child(8),:last-child{
    border-bottom: 0;
}
.square.x::after{
    content: "X";
}
.square.o::after{
    content: "O";
}